<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CodeMash" type="CodeMash.Net.CodeMashConfigurationSection, CodeMash.Net" requirePermission="false" />
  </configSections>
  <CodeMash>
    <client name="sdk" apiKey="mwq5gTV6-KKflmN2maNMQgXLP7NQM03B" address="http://api.codemash.io/1.0/" />
  </CodeMash>
</configuration>