<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CodeMash" type="CodeMash.Net.CodeMashConfigurationSection, CodeMash.Net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="servicestack:license" value="3962-e1JlZjozOTYyLE5hbWU6UHJlc2VudCBDb25uZWN0aW9uLFR5cGU6SW5kaWUsSGFzaDp0K3IrOGNPM2ZlYWRwV3lWVWVqUUF0MzdtSnF6K2U0dlUvTkJUVDhYNDY4ZXN5K05zblNFZE0xSkhxazJYWVZ4dXRvV1JGMWc2UkVkaDRnb2x4S2RFdkhSOFpPVXJWSndhOEpVMFYwZnVacnc1M2M3emlPd2tvaVJQVWVRd1dreFl5a25ieVhsazUrL09xckZKeHY0K1lCY2pRdmNTanpLVkZ1UHdhWGQ5Mm89LEV4cGlyeToyMDE3LTA2LTA5fQ==" />
  </appSettings>
  <CodeMash>
    <client name="sdk" apiKey="vAvUur13SQeQbqBsp3pH8-_yU1Ni94WK" address="http://api.codemash.io/1.0/" />
  </CodeMash>
</configuration>

