@model List<PresentConnection.Internship7.Iot.WebApp.Models.CustomerViewModel>
<a href="/Home/CustomerAdd">Add new Customer</a>
<ul>
    @foreach (var customer in Model)
    {
        <li>@customer.FirstName</li>
    }
</ul>