<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
      <section name="CodeMash" type="CodeMash.Net.CodeMashConfigurationSection, CodeMash.Net" requirePermission="false" />
    </configSections>
    <CodeMash>
      <client name="sdk" apiKey="vAvUur13SQeQbqBsp3pH8-_yU1Ni94WK" address="http://api.codemash.io/1.0/" />
    </CodeMash>
  
    <appSettings>
      <add key="servicestack:license" value="3962-e1JlZjozOTYyLE5hbWU6UHJlc2VudCBDb25uZWN0aW9uLFR5cGU6SW5kaWUsSGFzaDp0K3IrOGNPM2ZlYWRwV3lWVWVqUUF0MzdtSnF6K2U0dlUvTkJUVDhYNDY4ZXN5K05zblNFZE0xSkhxazJYWVZ4dXRvV1JGMWc2UkVkaDRnb2x4S2RFdkhSOFpPVXJWSndhOEpVMFYwZnVacnc1M2M3emlPd2tvaVJQVWVRd1dreFl5a25ieVhsazUrL09xckZKeHY0K1lCY2pRdmNTanpLVkZ1UHdhWGQ5Mm89LEV4cGlyeToyMDE3LTA2LTA5fQ==" />
      <add key="ImageWidth-medium" value="800"/>
      <add key="ImageHeight-medium" value="600"/>
      <add key="ImageWidth-small" value="400"/>
      <add key="ImageHeight-small" value="300"/>
      <add key="ImageWidth-thumb" value="200"/>
      <add key="ImageHeight-thumb" value="150"/>
    </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add path="1.0*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>