@model PresentConnection.Internship7.Iot.WebApp.Models.ListViewModelBase<PresentConnection.Internship7.Iot.ServiceModels.ManufacturerDto>

<a href="/manufacturers/new" class="btn btn-primary">Add new Manufacturer</a>
<hr/>
<ul class="list-group">
    @foreach (var manufacturer in Model.Items)
    {
        <li class="list-group-item">
            <img src="@manufacturer.Picture.Thumbnail.Url" alt="@manufacturer.Picture.Thumbnail.AltAttribute" />
            <a href="/manufacturers/@manufacturer.Id">@manufacturer.Name</a>
            <a data-name="@manufacturer.Name" href="/manufacturers/@manufacturer.Id/delete">Delete</a>
        </li>
    }
</ul>    

<script type="text/javascript">
    $(function() {
        $(".delete-button").click(function(e) {
            var manufacturerName = $(this).data("name");
            if (!confirm("Ar you sure want to delete manufacturer :'" + manufacturerName + "' ?")) {
                e.preventDefault();
            }
        });
    });
</script>