<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CodeMash" type="CodeMash.Net.CodeMashConfigurationSection, CodeMash.Net" requirePermission="false" />
  </configSections>
  <CodeMash>
    <client name="sdk" apiKey="HP7qoWWJpG8gTlepFH2hWpQOLctB7IkU" address="http://api.codemash.io/1.0/" />
  </CodeMash>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>